.section__home-askFreq{
  margin: 20px 0px;
  .container-img{
    img{
      margin-top: 15px;
      width: 100vw;
      position: relative;
      left: 107%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
    }
  }
  .container-ask{

  }
}